header{
    background-color:rgb(68, 145, 204);
    height: 100px;
    width: 100%;
    position: relative;
}
h1{
    color: aliceblue;
    position: absolute;
    left: 120px;
    top:0;
    line-height: 80px;
    width: 210px;
}
header a{
    color:aliceblue;
    text-decoration: none;
}
header ul{
    position: absolute;
    right:5vw;
    top:0;
    line-height: 100px;
}
header li{
    display: inline;
    margin-right: 4vw;
}
header a:hover{
    text-decoration: underline;
}

main {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #4bc0c8, #c779d0, #feac5e);
}
.box {
    height: 80vh;
    width: 70%;
    max-width: 600px;
    background-color: #fff;
    padding: 30px;
    border-radius: 4px;
    box-shadow: rgb(0 0 0 / 20%) 0px 2px 1px -1px, rgb(0 0 0 / 14%) 0px 1px 1px 0px, rgb(0 0 0 / 12%) 0px 1px 3px 0px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    text-align: justify;
    color: #333;
    font-size: 17px;
    line-height: 1.7;
    letter-spacing: 0.034em;
    font-family: "思源黑体";
    overflow-y: scroll;
}
.contact{
    background-color: #485652;
    color: white;
    height:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    line-height: 1.8em;
}
m{
    margin: 10px;
}
.menu{
    display: none;
}
/* 响应式设计语法 */
@media screen and (max-width:850px){
    header ul{
        display: none;
    }
    header h1{
        left:50%;
        transform: translateX(-50%);
    }
    .menu{
        display: block;
        background-color: transparent;
        color: white;
        font-size: 25px;
        position: absolute;
        top: 15px;
        left:20px;
        border:none;
        cursor: pointer;
    }
}
